# Miscellaneous
*.class
*.env
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/google-services.json
/lib/firebase_options.dart
/lib/core/common/environment/environment.dart
firebase.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/.cmake/api/v1/reply/cache-v2-04a8c5a63978799f63a9.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-20d22d14bd40c8673628.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-0a439ef86a3f9515a427.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/.cmake/api/v1/reply/index-2025-02-25T16-16-23-0056.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/build.ninja
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/4sy1d6g5/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/.cmake/api/v1/reply/cache-v2-b47553623eafefad6991.json
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-c329f7523d9d4db04a7d.json
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-23517f9f324f827ea178.json
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/.cmake/api/v1/reply/index-2025-02-25T16-16-30-0990.json
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/4sy1d6g5/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/4sy1d6g5/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4sy1d6g5/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4sy1d6g5/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4sy1d6g5/x86/.cmake/api/v1/reply/cache-v2-062d3e5076b79c137078.json
/android/app/.cxx/Debug/4sy1d6g5/x86/.cmake/api/v1/reply/cmakeFiles-v1-260f1d3b6ebb0baec713.json
/android/app/.cxx/Debug/4sy1d6g5/x86/.cmake/api/v1/reply/codemodel-v2-3d2e65c2c629b8289399.json
/android/app/.cxx/Debug/4sy1d6g5/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/4sy1d6g5/x86/.cmake/api/v1/reply/index-2025-02-25T16-16-32-0000.json
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4sy1d6g5/x86/additional_project_files.txt
/android/app/.cxx/Debug/4sy1d6g5/x86/android_gradle_build.json
/android/app/.cxx/Debug/4sy1d6g5/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/4sy1d6g5/x86/build.ninja
/android/app/.cxx/Debug/4sy1d6g5/x86/build_file_index.txt
/android/app/.cxx/Debug/4sy1d6g5/x86/cmake_install.cmake
/android/app/.cxx/Debug/4sy1d6g5/x86/CMakeCache.txt
/android/app/.cxx/Debug/4sy1d6g5/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/4sy1d6g5/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/4sy1d6g5/x86/prefab_config.json
/android/app/.cxx/Debug/4sy1d6g5/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/4sy1d6g5/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/4sy1d6g5/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/4sy1d6g5/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/4sy1d6g5/x86_64/.cmake/api/v1/reply/cache-v2-4c43b7bdbb40888fd64f.json
/android/app/.cxx/Debug/4sy1d6g5/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-c7f32f4259eb750d204b.json
/android/app/.cxx/Debug/4sy1d6g5/x86_64/.cmake/api/v1/reply/codemodel-v2-6a34e56cfb1763941ae6.json
/android/app/.cxx/Debug/4sy1d6g5/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/4sy1d6g5/x86_64/.cmake/api/v1/reply/index-2025-02-25T16-16-32-0994.json
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/4sy1d6g5/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/4sy1d6g5/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/4sy1d6g5/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/4sy1d6g5/x86_64/build.ninja
/android/app/.cxx/Debug/4sy1d6g5/x86_64/build_file_index.txt
/android/app/.cxx/Debug/4sy1d6g5/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/4sy1d6g5/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/4sy1d6g5/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/4sy1d6g5/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/4sy1d6g5/x86_64/prefab_config.json
/android/app/.cxx/Debug/4sy1d6g5/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/4sy1d6g5/hash_key.txt
