<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5nNM1afCPagiBTzDIE-NBJxm8dPdIAe8</string>
	<key>GCM_SENDER_ID</key>
	<string>843582603087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.movie.app</string>
	<key>PROJECT_ID</key>
	<string>movie-flutter-71823</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-flutter-71823.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843582603087:ios:17237c52421587207ecf3a</string>
</dict>
</plist>